<html>

<head th:replace="fragments/base.html :: headerfiles(title='Registrati | Catering')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	<!-- END NAV -->
	<div class="container_body container">
		<section class="hero is-small is-info p-4">
			<div class="hero-body">
				<p class="title">
					Utenti registrati
				</p>
				<p class="subtitle">
					Tutti gli utenti registrati
				</p>
			</div>
		</section>

		<section class="section p-0">
			<div class="box prenotazioni-box">
				<a th:href="@{'/admin/' + ${credential.user.id} + '/allPrenotazioni'}" th:each="credential : ${credentialsList}" class="box user-item-box">
					<div class="media">
						<div class="media-left">
							<div class="container">
								<p class="title is-5"
									th:text="${credential.user.nome + ' ' + credential.user.cognome }">Username</p>
								<p class="subtitle is-6" th:text="${credential.username}">Alle ore 21:00</p>
							</div>
						</div>
						<div class="media-content has-text-right">
							<form class="mt-3" method="post" th:action="@{'/admin/allUsers/'+ ${credential.username} + '/delete'}">
								<button type="submit" class="button is-rounded is-small is-danger">Cancella</button>
							</form>
						</div>
						<div class="media-right">
							<i class="fa-solid fa-chevron-right"></i>
						</div>
					</div>
				</a>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>