<html>

<head th:replace="fragments/base.html :: headerfiles(title='Registrati | Catering')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	<!-- END NAV -->
	<div class="container_body container">
		<section class="hero is-small is-info p-4">
			<div class="hero-body">
				<p class="title">
					Modifica il tuo profilo
				</p>
				<p class="subtitle">
					Qui puoi gestire i dettagli del tuo account
				</p>
			</div>
		</section>
		<section class="section p-0">
			<div class="box">
				<p class="title is-5">Aggiorna le credenziali</p>
				<p class="subtitle is-6">Puoi cambiare password e usernam.</p>
				<form th:action="@{/user/update}" method="post" th:object="${newCredentials}">
					<div class="field">
						<label class="label">Username</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="*{username}" class="input" type="text" placeholder="Username">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="has-text-left has-text-danger help" th:if="${#fields.hasErrors('username')}"
							th:errors="*{password}">Errore</p>
					</div>
					<div class="field">
						<label class="label">Password</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="*{password}" class="input" type="password" placeholder="Password">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</div>
						<p class="has-text-left has-text-danger help" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Errore</p>
					</div>
					<div class="field mt-5 is-grouped">
						<div class="control">
							<button type="submit" class="button is-rounded is-info">Salva</button>
						</div>
						<div class="control">
							<a th:href="@{/user/me}" class="button is-rounded is-outlined ">Annulla</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>