<html>

<head th:replace="fragments/base.html :: headerfiles(title='Registrati | Catering')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	<!-- END NAV -->
	<div class="container_body container">
		<section class="hero is-small is-warning p-4">
			<div class="hero-body">
				<p class="title">
					Prenotazione Giorgi
				</p>
				<p class="subtitle">
					il 22 giugno alle ore 20:00
				</p>
			</div>
		</section>

		<section class="section p-0">
			<div class="box">
				<p class="title is-5">Dettagli prenotazione</p>
				<p class="subtitle is-6">Di seguito puoi modificare la prenotazione</p>
				<form method="post">
					<div class="field">
						<label class="label">Nome</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="Nome">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<label class="label">Cognome</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="Cognome">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>


					<div class="field">
						<label class="label">Cellulare</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="+39 ">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="field-body">
							<div class="field">
								<label class="label">Data</label>
								<p class="control is-expanded">
									<input class="input" type="date">
								</p>
							</div>
							<div class="field">
								<label class="label">Orario</label>
								<p class="control is-expanded">
									<input class="input is-success" type="time">
								</p>
							</div>
						</div>
					</div>

					<div class="field mt-5 is-grouped">
						<div class="control">
							<button class="button is-rounded is-success">Prenota</button>
						</div>
						<div class="control">
							<button class="button is-rounded is-danger is-light">Annulla</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>